
<div class="row mt-3 ">
    <div class="col-md-2 center ">
    </div>
    <div class="col-md-8 center ">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"  [(ngModel)]="Searchtext" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"  (click)="searchTitle()">Search</button>
          <button class="btn btn-outline-secondary"  type="button" (click)="Ascending()"  >Ascending</button>
          <button class="btn btn-outline-secondary"  type="button" (click)="Decending()">Decending</button>
        </div>
      </div>
    </div>
    <div class="col-md-2 center "></div>

<div class="row hide" id="empcardsformat" >
    <!-- <h2>Cards</h2> -->
    @for (product of myProducts | paginate : { itemsPerPage: 4, currentPage: page }; track product.id) 
    { 
    <div class="col-sm-3 mb-3 mb-sm-0 mt-3">
        <div class="card"  >
            <img src={{product.image}} class="card-img-top" alt="..." style="height: 300px;">
            <div class="card-body" style="height: 400px;">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.price}}</p>     
              <button class="btn btn-primary center" [routerLink]="['/Productdetails/',product.id]">Details</button>         
            </div>
          </div>
    </div>
    }
    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
</div>