<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="" />
                <div>Mobile</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
        <div class="col">
            <div>
                <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="" />
                <div>Grocery</div>
            </div>            
        </div>
    </div>
</div>
