<button class="btn-primary btn mt-3" (click)="toggleMode()">Toggle</button>


<div class="container">
    <div class="row hide" id="emptblformat">
      
        <button class="btn-primary btn mt-3 btn-info " data-bs-toggle="modal"  data-bs-target="#AddEmployeemodel">Add Employee </button>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">phone</th>
                    <th scope="col">website</th>
                    <th scope="col">Delete</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
            @for (Emp of Employeelist; track Emp.id; let index = $index)     
            {
            <tr>
                <th scope="row">{{ Emp.id }} </th>
                <td>
                    {{ Emp.name }}
                </td>
                <td>
                    {{ Emp.email }}
                </td>
                <td>
                    {{ Emp.address.street}} ,{{ Emp.address.suite}}, {{ Emp.address.city}},{{ Emp.address.zipcode}}
                </td>
                <td>
                    {{ Emp.phone }}
                </td>

                <td>
                    {{ Emp.website }} {{index}}
                </td>
                <td>
                    <button class="btn-primary btn mt-3 btn-danger" (click)="deleteemployee(index)" >Delete</button>
                </td>
                <td>
                    <button class="btn-primary btn mt-3 btn-info" data-bs-toggle="modal" (click)="Viewemployee(index)" data-bs-target="#exampleModal">View </button>
                </td>
            </tr>
            }
        </tbody>
        </table>
    </div>
    <br />
    <div class="row hide" id="empcardsformat">
        @for (Emp of Employee; track Emp.id)
        {
        <div class="col-sm-3 mb-3 mb-sm-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{ Emp.name }} </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ Emp.email }} </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ Emp.phone }} </h6>
                    <p class="card-text">{{ Emp.address.street}} ,{{ Emp.address.suite}}, {{ Emp.address.city}},{{
                        Emp.address.zipcode}}</p>
                    <a href={{Emp.website}} target="_blank" class="card-link">Website</a>

                </div>
            </div>
        </div>
        }
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row  align-items-center mb-3">
                <div class="col-lg-2">
                    <label for="disabledTextInput" class="form-label">Name</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="idname" class="form-control" value={{Name}} placeholder="Disabled input" disabled>
                </div>
            </div>
            <div class="row  align-items-center mb-3">
                <div class="col-lg-2">
                    <label for="disabledTextInput" class="form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="idemail" class="form-control" value={{Email}} placeholder="Disabled input" disabled>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-lg-2">
                    <label for="disabledTextInput" class="form-label">Address</label>
                </div>
                <div class="col-lg-10">
                    <textarea id="idaddress" class="form-control"  disabled> {{Address}}</textarea>                 
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade" id="AddEmployeemodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row  align-items-center mb-3">
                <div class="col-auto">
                    <label for="disabledTextInput" class="form-label">Name</label>
                </div>
                <div class="col-auto">
                    <input type="text" [(ngModel)]="Name" name="Name" value=" " class="form-control" placeholder="Enter Name"  >
                </div>
            </div>
            <div class="row  align-items-center mb-3">
                <div class="col-auto">
                    <label for="disabledTextInput" class="form-label">Email</label>
                </div>
                <div class="col-auto">               
                    <input type="text" [(ngModel)]="Email" name="email" value=" " class="form-control" placeholder="Enter Email"  >
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="disabledTextInput" class="form-label">Phone</label>
                </div>
                <div class="col-auto">                
                    <input type="text" [(ngModel)]="Phone" name="Phone" value=" " class="form-control" placeholder="Enter Phone"  >                   
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"  (click)="AddEmployee()">Add Employee</button>
            <button type="button" class="btn btn-secondary" #ModalClose  data-bs-dismiss="modal">Close</button>
      
        </div>
      </div>
    </div>
  </div>



