
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">phone</th>
            <th scope="col">website</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        @for (Emp of employeeobj; track Emp.id)
        {      
        <tr>
            <th>{{ Emp.id }} </th>
            <td>
                {{ Emp.name }}
            </td>
            <td>
                {{ Emp.Gender }}
            </td>
            <td>
                {{ Emp.email }}
            </td>
            <td>
                {{ Emp.address.street}} ,{{ Emp.address.suite}}, {{ Emp.address.city}},{{ Emp.address.zipcode}}
            </td>
            <td>
                {{ Emp.phone }}
            </td>
            <td>
                {{ Emp.website }}
            </td>
            <td>
                <button class="btn-primary btn mt-3 btn-danger" (click)="deleteemployee(Emp)">Delete</button>
            </td>
            <td>
                <button class="btn-primary btn mt-3 btn-info">View </button>
            </td>
        </tr>
        }
    </tbody>
</table>


